.idea/

# Ignore everything in NCF_data except specific files
NCF_data/*
!NCF_data/train.rating
!NCF_data/test.rating
!NCF_data/test.negative

# Ignore files in the ContentBased data folder
ContentBased_data/

# Ignore notebooks
notebooks/

# Ignore all MP3 files globally
*.mp3

# Ignore csv files gloabally
*.csv

# Ignore compiled Python files
__pycache__/
*.pyc
